<section data-ng-controller="LessonController"  data-ng-init="find()">
    <div class="page-header">
        <h1>Занятия</h1>
    </div>
    <table class="table table-striped" align="middle" data-ng-if="lessons.$resolved && lessons.length">
    <thead>
    <tr>
        <th align="middle"># занятия</th>
        <th align="middle">Время начала занятия</th>
        <th align="middle">Время окончания занятия</th>
        <th align="middle">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="lesson in lessons">
        <td align="middle">{{lesson.number}}</td>
        <td align="middle">{{lesson.beginTime | date:'HH:mm'}}</td>
        <td align="middle">{{lesson.endTime | date:'HH:mm'}}</td>
        <td>
            <div class="pull-right" data-ng-show="authentication.user.role == admin">
                <a class="btn btn-info" href="/#!/lessons/{{lesson._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-danger" data-ng-click="remove(lesson)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </td>
    </tr>
    </tbody>
    </table>
    <div align="right">
        <a class="btn btn-default btn-lg" href="/#!/lessons/create" align="right">Добавить новое занятие</a>
    </div>
</section>