<section data-ng-controller="LessonController">
    <div class="page-header">
        <h1>Новое занятие</h1>
    </div>
    <div class="col-md-12">
        <form name="lessonForm" class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="number"># занятия</label>
                    <div class="controls">
                        <input name="number" type="number" data-ng-model="number" id="number" class="form-control" placeholder="Номер занятия" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="beginTime">Время начала занятия</label>
                    <div class="controls">
                        <input type="time" id="beginTime" name="beginTime" data-ng-model="beginTime" class="form-control" min="08:00:00" max="22:00:00" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="endTime">Время окончания занятия</label>
                    <div class="controls">
                        <input type="time" id="endTime" name="endTime" data-ng-model="endTime" class="form-control" required />
                    </div>
                </div>
                <div class="form-group" align="right">
                    <input type="submit" class="btn btn-success" value="Сохранить">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>