<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" align="middle">
				<img alt="KubSU" class="img-responsive text-center" src="modules/core/img/brand/logo.gif"/>
			</div>
		</div>
		<br />
		<div class="row">
			<p class="lead">
				Портал расписания занятий Кубанского Государственного Университета
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/signin"  data-ng-show="!authentication.user">Войти</a>
			</p>
		</div>
	</div>
    <div class="modal-footer" align="middle">
        Кубанский Государственный Университет
        <br />Eugene Butusov © 2015
    </div>
</section>
