<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">Войти, используя социальные сети</h3>
	<div class="col-md-12 text-center">
		<a href="/auth/facebook" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<a href="/auth/linkedin" class="undecorated-link">
			<img src="/modules/users/img/buttons/linkedin.png">
		</a>
		<a href="/auth/github" class="undecorated-link">
			<img src="/modules/users/img/buttons/github.png">
		</a>
	</div>
	<h3 class="col-md-12 text-center">или с помощью своего аккаунта</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
        <form class="form-signin" role="form" data-ng-submit="signin()">
            <div class="alert alert-danger fade in" data-ng-show="error">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Ошибка: </strong><div data-ng-bind="error"></div>
            </div>
            <fieldset>
                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Имя пользователя" required autofocus>
                    <input type="password" id="password" name="password" class="form-control"  data-ng-model="credentials.password"  placeholder="Пароль" required>
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary">Вход</button>&nbsp; или&nbsp;
                    <a href="/#!/signup">Регистрация</a>
                </div>
                <div class="forgot-password">
                    <a href="/#!/password/forgot">Восстановление пароля</a>
                </div>
            </fieldset>
        </form>
	</div>
</section>