<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">Регистрация с помощью социальных сетей</h3>
	<div class="col-md-12 text-center">
		<a href="/auth/facebook" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<a href="/auth/linkedin" class="undecorated-link">
			<img src="/modules/users/img/buttons/linkedin.png">
		</a>
		<a href="/auth/github" class="undecorated-link">
			<img src="/modules/users/img/buttons/github.png">
		</a>
	</div>
	<h3 class="col-md-12 text-center">или Вашего E-Mail</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="signup()" class="form-signup form-horizontal" novalidate autocomplete="off">
			<fieldset>
                <div class="alert alert-danger fade in" data-ng-show="error">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Ошибка: </strong><div data-ng-bind="error"></div>
                </div>
				<div class="form-group">
                    <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Фамилия">
					<input type="text" required id="firstName" name="firstName" class="form-control top" data-ng-model="credentials.firstName" placeholder="Имя">
                    <input type="text" id="givenName" name="givenName" class="form-control" data-ng-model="credentials.givenName" placeholder="Отчество">
                    <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="E-Mail">
                    <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Имя пользователя">
                    <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Пароль">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Зарегистрироваться</button>&nbsp; или&nbsp;
					<a href="/#!/signin" class="show-signup">Войти</a>
				</div>
			</fieldset>
		</form>
	</div>
</section>