.form-signup {
    padding: 15px;
    margin: 0 auto;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
    margin-bottom: 10px;
}
.form-signup .checkbox {
    font-weight: normal;
}
.form-signup .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0;
    margin-bottom: -1px;
    font-size: 16px;
}
.form-signup .form-control:focus {
    z-index: 2;
}

#password
{
    margin-bottom: -1px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#lastName
{
    margin-bottom: -1px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}