<section data-ng-controller="AccountController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Обновление профиля пользователя</h1>
    </div>
    <div class="col-md-12">
        <form name="accountForm" class="form-horizontal" data-ng-submit="update()" novalidate>
            <table class="table table-condensed">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td>Отображаемое имя</td>
                    <td>
                        <div class="form-group" ng-class="errorClass('displayName')">
                            <label>{{account.displayName}}</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Электронная почта
                    </td>
                    <td>
                        <div class="form-group" ng-class="errorClass('email')">
                            <label>{{account.email}}</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Пользователь активирован
                    </td>
                    <td>
                        <div class="form-group" ng-class="errorClass('kind')">
                            <input type="checkbox" id="activated" name="activated" data-ng-model="account.activated" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Тип пользователя
                    </td>
                    <td>
                        <div class="form-group" ng-class="errorClass('kind')">
                            <select class="form-control" data-ng-model="account.kind" id="kind" name="kind" server-validation>
                                <option ng-repeat="kind in kinds" value="{{kind.value}}" ng-bind="kind.name"
                                        ng-selected="account.kind == kind.value"></option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Роли пользователя
                    </td>
                    <td>
                        <div
                                isteven-multi-select
                                input-model="availableRoles"
                                output-model="selectedRoles"
                                button-label="name"
                                item-label="name"
                                tick-property="selected"
                                >
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <fieldset>
                <div class="form-group" align="right">
                    <input type="submit" class="btn btn-success" value="Сохранить">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
