<section data-ng-controller="AccountController"  data-ng-init="find()">
    <div class="page-header">
        <h1>Пользователи</h1>
    </div>
    <table class="table table-striped" align="middle" data-ng-if="users.$resolved && users.length">
        <thead>
        <tr>
            <th align="middle">Имя пользователя</th>
            <th align="middle">Статус активации</th>
            <th align="middle">Тип участника</th>
            <th align="middle">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="user in users">
            <td align="middle">{{user.displayName}}</td>
            <td align="middle">{{user.activated ? "Активирован" : "Не активирован"}}</td>
            <td align="middle">{{user.kind == 'student' ? "Студент" : "Преподаватель"}}</td>
            <td>
                <div class="pull-right" data-ng-show="authentication.user.role == admin">
                    <a class="btn btn-info" href="/#!/accounts/{{user._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" data-ng-click="remove(user)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</section>
