<section data-ng-controller="ScheduleController"  data-ng-init="find()">
    <div class="page-header">
        <h1>Занятия по расписанию</h1>
    </div>
    <table class="table table-striped" data-ng-if="schedules.$resolved && schedules.length">
        <thead>
        <tr>
            <th align="middle">Позиция в цикле</th>
            <th align="middle">Время занятия</th>
            <th align="middle">Площадка</th>
            <th align="middle">Предмет</th>
            <th align="middle">Тип занятия</th>
            <th align="middle">Преподаватель</th>
            <th align="middle">Объединения</th>
            <th align="middle">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="schedule in schedules">
            <td align="middle">{{schedule.cyclePosition}}</td>
            <td align="middle">{{schedule.lesson.beginTime | date:'HH:mm'}}-{{schedule.lesson.endTime | date:'HH:mm'}}</td>
            <td align="middle">{{schedule.playground.name}}</td>
            <td align="middle">{{schedule.subject.title}}</td>
            <td align="middle">{{schedule.type.title}}</td>
            <td align="middle">{{schedule.teacher.displayName}}</td>
            <td align="middle">
                <div data-ng-repeat="union in schedule.learningUnions">
                    {{union.name}},
                </div>
            </td>
            <td>
                <div class="pull-right" data-ng-show="authentication.user.role == admin">
                    <a class="btn btn-info" href="/#!/schedules/{{schedule._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" data-ng-click="remove(schedule)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div align="right">
        <a class="btn btn-default btn-lg" href="/#!/schedules/create" align="right">Добавить новое занятие по расписанию</a>
    </div>
</section>
