<section data-ng-controller="ScheduleController" data-ng-init="prepare()">
    <div class="page-header">
        <h1>Новое занятие по расписанию</h1>
    </div>
    <div class="col-md-12">
        <form name="scheduleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
            <table class="table table-condensed">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Предмет</td>
                        <td>
                            <div class="form-group" ng-class="errorClass('type')">
                                <input type="text" ng-model="subject"
                                       typeahead="subject as subject.title for subject in subjects | filter:$viewValue | limitTo:8"
                                       class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Тип занятия</td>
                        <td>
                            <div class="form-group" ng-class="errorClass('type')">
                                <div class="controls">
                                    <select class="form-control" data-ng-model="type" id="type" name="type" server-validation>
                                        <option ng-repeat="type in lessonTypes" value="{{type._id}}" ng-bind="type.title"></option>
                                    </select>
                                    <vdv-error field="type"></vdv-error>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Номер дня в цикле занятий</td>
                        <td>
                            <div class="form-group" ng-class="errorClass('cyclePosition')">
                                <div class="controls">
                                    <input name="cyclePosition" type="text" data-ng-model="cyclePosition" id="number" class="form-control" placeholder="Номер дня в цикле занятий" required />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Время занятия</td>
                        <td>
                            <div class="form-group" ng-class="errorClass('lesson')">
                                <div class="controls">
                                    <select class="form-control" data-ng-model="lesson" id="lesson" name="lesson" server-validation>
                                        <option ng-repeat="lesson in lessons" value="{{lesson._id}}">
                                            {{lesson.beginTime | date: 'HH:mm'}} - {{lesson.endTime | date: 'HH:mm'}}
                                        </option>
                                    </select>
                                    <vdv-error field="type"></vdv-error>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Площадка</td>
                        <td>
                            <div class="form-group" ng-class="errorClass('playground')">
                                <div class="controls">
                                    <select class="form-control" data-ng-model="playground" id="playground" name="playground" server-validation>
                                        <option ng-repeat="playground in playgrounds" value="{{playground._id}}">
                                            {{ playground.name }}
                                        </option>
                                    </select>
                                    <vdv-error field="type"></vdv-error>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Преподаватель
                        </td>
                        <td>
                            <div class="form-group" ng-class="errorClass('teacher')">
                                <div class="controls">
                                    <select class="form-control" data-ng-model="teacher" id="teacher" name="teacher" server-validation>
                                        <option ng-repeat="teacher in teachers" value="{{teacher._id}}" ng-bind="teacher.displayName"></option>
                                    </select>
                                    <vdv-error field="teacher"></vdv-error>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Обучаемые объединения
                        </td>
                        <td>
                            <div class="form-group" ng-class="errorClass('learningAssociations')">
                                <script type="text/ng-template" id="items_renderer.html">
                                    <div ui-tree-handle ng-class="{ 'select': $treeScope.multiSelect, 'copy': $treeScope.copy }" ng-show="!item.editing">
                                        <a class="btn btn-success btn-xs" nodrag ng-click="toggle(this)">
                                            <span class="glyphicon"
                                                  ng-class="{ 'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }"></span>
                                        </a>
                                        {{item.name}}

                                        <a class="pull-right btn btn-danger btn-xs" nodrag ng-click="updateUnionSelection(item)" ng-show="item.selected">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                        <a class="pull-right btn btn-primary btn-xs" nodrag ng-click="updateUnionSelection(item)" ng-show="!item.selected"
                                           style="margin-right: 8px;">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>

                                    </div>

                                    <ol ui-tree-nodes ng-model="item.children" ng-class="{ 'hidden': collapsed }">
                                        <li ng-repeat="item in item.children" ui-tree-node ng-class="{ 'selected': selected, 'original': original }"
                                            ng-include="'items_renderer.html'"></li>
                                    </ol>
                                </script>
                                <ui-tree>
                                    <ol ui-tree-nodes ng-model="learningUnions">
                                        <li ng-repeat="item in learningUnions" ui-tree-node ng-class="{ 'selected': selected, 'original': original }"
                                            ng-include="'items_renderer.html'"></li>
                                    </ol>
                                </ui-tree>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <fieldset>
                <div class="form-group" align="right">
                    <input type="submit" class="btn btn-success" value="Сохранить">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
