<section data-ng-controller="UnionController"  data-ng-init="find()">
    <div class="page-header">
        <h1>Объединения</h1>
    </div>

    <script type="text/ng-template" id="items_renderer.html">
        <div ui-tree-handle ng-class="{ 'select': $treeScope.multiSelect, 'copy': $treeScope.copy }" ng-show="!item.editing">
            <a class="btn btn-success btn-xs" nodrag ng-click="toggle(this)">
                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }"></span>
            </a>
            {{item.name}}

            <a class="pull-right btn btn-danger btn-xs" nodrag ng-click="drop(item)">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a href="" class="btn btn-primary btn-xs pull-right" nodrag ng-click="beginUpdate(item)">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="pull-right btn btn-primary btn-xs" nodrag ng-click="create(item)" style="margin-right: 8px;">
                <span class="glyphicon glyphicon-plus"></span>
            </a>

        </div>
        <div ui-tree-handle ng-class="{ 'select': $treeScope.multiSelect, 'copy': $treeScope.copy }" nodrag ng-show="item.editing">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Название объединения" ng-model="item.name">
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-default" ng-click="save(item)">Сохранить</button>
                    <button type="submit" class="btn btn-default" ng-click="cancelEditing(item)">Отмена</button>
                </div>
            </form>
        </div>

        <ol ui-tree-nodes ng-model="item.children" ng-class="{ 'hidden': collapsed }">
            <li ng-repeat="item in item.children" ui-tree-node ng-class="{ 'selected': selected, 'original': original }" ng-include="'items_renderer.html'"></li>
        </ol>
    </script>
    <ui-tree>
        <ol ui-tree-nodes ng-model="unions">
            <li ng-repeat="item in unions" ui-tree-node ng-class="{ 'selected': selected, 'original': original }" ng-include="'items_renderer.html'"></li>
        </ol>
    </ui-tree>
</section>