<section data-ng-controller="ReplacementController"  data-ng-init="find()">
    <div class="page-header">
        <h1>Замены/одноразовые занятия</h1>
    </div>
    <table class="table table-striped" data-ng-if="replacements.$resolved && replacements.length">
        <thead>
        <tr>
            <th align="middle">Дата занятия</th>
            <th align="middle">Время занятия</th>
            <th align="middle">Площадка</th>
            <th align="middle">Предмет</th>
            <th align="middle">Тип занятия</th>
            <th align="middle">Преподаватель</th>
            <th align="middle">Объединения</th>
            <th align="middle">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="replacement in replacements">
            <td align="middle">{{replacement.at | date:'dd.MM.yyyy'}}</td>
            <td align="middle">{{replacement.lesson.beginTime | date:'HH:mm'}}-{{replacement.lesson.endTime | date:'HH:mm'}}</td>
            <td align="middle">{{replacement.playground.name}}</td>
            <td align="middle">{{replacement.subject.title}}</td>
            <td align="middle">{{replacement.type.title}}</td>
            <td align="middle">{{replacement.teacher.displayName}}</td>
            <td align="middle">
                <div data-ng-repeat="union in replacement.learningUnions">
                    {{union.name}},
                </div>
            </td>
            <td>
                <div class="pull-right" data-ng-show="authentication.user.role == admin">
                    <a class="btn btn-info" href="/#!/replacements/{{replacement._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" data-ng-click="remove(replacement)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div align="right">
        <a class="btn btn-default btn-lg" href="/#!/replacements/create" align="right">Добавить новую замену</a>
    </div>
</section>
