<section data-ng-controller="PlaygroundController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Обновить площадку</h1>
    </div>
    <div class="col-md-12">
        <form name="playgroundForm" class="form-horizontal" data-ng-submit="update(playgroundForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Название площадки</label>
                    <div class="controls">
                        <input name="name" type="text" data-ng-model="playground.name" id="number" class="form-control" placeholder="Название площадки" required />
                    </div>
                </div>
                <div class="form-group" align="right">
                    <input type="submit" class="btn btn-success" value="Сохранить">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>