<section data-ng-controller="PlaygroundController"  data-ng-init="find()">
    <div class="page-header">
        <h1>Площадки</h1>
    </div>
    <table class="table table-striped" align="middle" data-ng-if="playgrounds.$resolved && playgrounds.length">
        <thead>
        <tr>
            <th align="middle">Название площадки</th>
            <th align="middle">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="playground in playgrounds">
            <td align="middle">{{playground.name}}</td>
            <td>
                <div class="pull-right" data-ng-show="authentication.user.role == admin">
                    <a class="btn btn-info" href="/#!/playgrounds/{{playground._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" data-ng-click="remove(playground)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div align="right">
        <a class="btn btn-default btn-lg" href="/#!/playgrounds/create" align="right">Добавить новую площадку</a>
    </div>
</section>