<section data-ng-controller="AppConfigurationController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Обновить конфигурацию</h1>
    </div>
    <div class="col-md-12">
        <form name="configurationForm" class="form-horizontal" data-ng-submit="update(configurationForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Название конфигурации</label>
                    <div class="controls">
                        <input name="name" type="text" data-ng-model="configuration.name" id="name" class="form-control" placeholder="Название" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="cycleLength">Длина цикла повторения расписания</label>
                    <div class="controls">
                        <input name="cycleLength" type="number" data-ng-model="configuration.scheduleCycle.length" id="cycleLength" class="form-control" placeholder="Длина цикла" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="freeDays">Выходные дни в цикле (через запятую)</label>
                    <div class="controls">
                        <input name="freeDays" type="text" data-ng-model="configuration.scheduleCycle.freeDays" id="freeDays" class="form-control" placeholder="Выходные дни" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="startDate">Дата начала отсчета цикла</label>
                    <div class="controls">
                        <input name="startDate" type="date" data-ng-model="configuration.scheduleCycle.startDate" id="startDate" class="form-control" placeholder="Дата начала отсчета" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        Активировать <input type="checkbox" id="active" name="active" data-ng-model="configuration.active" />
                    </div>
                </div>
                <div class="form-group" align="right">
                    <input type="submit" class="btn btn-success" value="Сохранить">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
