<section data-ng-controller="AppConfigurationController"  data-ng-init="find()">
    <div class="page-header">
        <h1>Конфигурации системы</h1>
    </div>
    <table class="table table-striped" align="middle" data-ng-if="configurations.$resolved && configurations.length">
        <thead>
        <tr>
            <th align="middle">Название конфигурации</th>
            <th align="middle">Активная?</th>
            <th align="middle">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="configuration in configurations">
            <td align="middle">{{configuration.name}}</td>
            <td align="middle">{{configuration.active == true ? "Да": "Нет"}}</td>
            <td>
                <div class="pull-right" data-ng-show="authentication.user.role == admin">
                    <a class="btn btn-info" href="/#!/configurations/{{configuration._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" data-ng-click="remove(configuration)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div align="right">
        <a class="btn btn-default btn-lg" href="/#!/configurations/create" align="right">Создать новую конфигурацию</a>
    </div>
</section>
