<section data-ng-controller="SchedulingController"  data-ng-init="prepare()">
    <div class="page-header">
        <h1 align="center">Расписание</h1>
    </div>
    <div ng-hide="schedules != null" style="vertical-align: sub">
        <h4 align="center"><b><font color="#a9a9a9">
            Сперва нужно задать параметры расписания.
        </font></b></h4>
    </div>
    <div ng-show="schedules != null && !schedules.length" style="vertical-align: sub">
        <p>Не удалось найти записи в базе.</p>
    </div>
    <table ng-show="schedules != null && schedules.length" class="table">
        <th></th>
        <th ng-repeat="schedule in schedules">
            <div align="center">{{schedule.date | date:'dd MMM yyyy'}}</div>
        </th>
        <tr ng-repeat="lesson in lessons">
            <td>
                {{lesson.beginTime | date:'HH:mm'}} - {{lesson.endTime | date:'HH:mm'}}
            </td>
            <td ng-repeat="schedule in schedules">
                <div ng-show="schedule.items[$parent.$index].subject != undefined">
                    <p align="center"><b>{{schedule.items[$parent.$index].subject.title}}</b></p>
                    <p>{{schedule.items[$parent.$index].type.title}} ({{schedule.items[$parent.$index].playground.name}})</p>
                    <p><b>Преподаватель: </b>{{schedule.items[$parent.$index].teacher.displayName}}</p>
                    <p><b>Объединения: </b>{{schedule.items[$parent.$index].learningUnionNames.join(', ')}}</p>
                </div>
            </td>
        </tr>
    </table>
    <div class="panel panel-default" id="panel1">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseOne"
                   href="#collapseOne">
                    Настройка выборки расписания
                </a>
            </h4>

        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <form name="rangeForm" class="navbar-form navbar-left" data-ng-submit="fetch(rangeForm.$valid)" novalidate>
                    <div class="form-group">
                        <label class="control-label" for="from">Начало периода</label>
                        <div class="controls">
                            <input name="from" data-ng-model="from" type="date" id="from" class="form-control" placeholder="Начало" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="to">Конец периода</label>
                        <div class="controls">
                            <input name="to" data-ng-model="to" type="date" id="to" class="form-control" placeholder="Конец" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="union">Объединение</label>
                        <div class="controls">
                            <select class="form-control" data-ng-model="union" id="union" name="union">
                                <option ng-repeat="union in unions" value="{{union._id}}" ng-bind="union.name"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"></label>
                        <div class="controls">
                            <input type="submit" class="btn btn-success" value="Показать">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div align="right" ng-show="authentication.user.roles.indexOf('editor') != -1 || authentication.user.roles.indexOf('admin') != -1">
        <a class="btn btn-info btn-lg" href="/#!/replacements">Управление заменами</a>
    </div>
</section>
