<section data-ng-controller="LessonTypeController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Обновить тип занятия</h1>
    </div>
    <div class="col-md-12">
        <form name="lessonTypeForm" class="form-horizontal" data-ng-submit="update(lessonTypeForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Тип занятия</label>
                    <div class="controls">
                        <input name="title" type="text" data-ng-model="lessonType.title" id="title" class="form-control" placeholder="Тип занятия" required />
                    </div>
                </div>
                <div class="form-group" align="right">
                    <input type="submit" class="btn btn-success" value="Сохранить">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>