<section data-ng-controller="LessonTypeController"  data-ng-init="find()">
    <div class="page-header">
        <h1>Типы занятий</h1>
    </div>
    <table class="table table-striped" align="middle" data-ng-if="lessonTypes.$resolved && lessonTypes.length">
        <thead>
        <tr>
            <th align="middle">Тип занятия</th>
            <th align="middle">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="lessonType in lessonTypes">
            <td align="middle">{{lessonType.title}}</td>
            <td>
                <div class="pull-right" data-ng-show="authentication.user.role == admin">
                    <a class="btn btn-info" href="/#!/lesson-types/{{lessonType._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" data-ng-click="remove(lessonType)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div align="right">
        <a class="btn btn-default btn-lg" href="/#!/lesson-types/create" align="right">Добавить новый тип занятия</a>
    </div>
</section>
