<section data-ng-controller="SubjectController"  data-ng-init="find()">
    <div class="page-header">
        <h1>Предметы</h1>
    </div>
    <table class="table table-striped" align="middle" data-ng-if="subjects.$resolved && subjects.length">
        <thead>
        <tr>
            <th align="middle">Название</th>
            <th align="middle">Описание</th>
            <th align="middle">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="subject in subjects">
            <td align="middle">{{subject.title}}</td>
            <td align="middle">{{subject.description}}</td>
            <td>
                <div class="pull-right" data-ng-show="authentication.user.role == admin">
                    <a class="btn btn-info" href="/#!/subjects/{{subject._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" data-ng-click="remove(subject)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div align="right">
        <a class="btn btn-default btn-lg" href="/#!/subjects/create" align="right">Добавить новый предмет</a>
    </div>
</section>