<section data-ng-controller="SubjectController">
    <div class="page-header">
        <h1>Новый предмет</h1>
    </div>
    <div class="col-md-12">
        <form name="subjectForm" class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Название предмета</label>
                    <div class="controls">
                        <input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Название предмета" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Описание предмета</label>
                    <div class="controls">
                        <textarea name="description" data-ng-model="description" id="description" class="form-control" cols="30" rows="10" placeholder="Описание предмета"></textarea>
                    </div>
                </div>
                <div class="form-group" align="right">
                    <input type="submit" class="btn btn-success" value="Сохранить">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>