<section class="row" data-ng-controller="SettingsController" data-ng-init="preload()">
	<h3 class="col-md-12 text-center">Редактирование профиля</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>
                <div class="form-group">
                    <label for="username">Логин</label>
                    <input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
                </div>
                <div class="divider"></div>
                <div class="form-group">
                    <label for="lastName">Фамилия</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Фамили">
                </div>
				<div class="form-group">
					<label for="firstName">Имя</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="Имя">
				</div>
                <div class="form-group">
                    <label for="firstName">Отчество</label>
                    <input type="text" id="givenName" name="givenName" class="form-control" data-ng-model="user.givenName" placeholder="Отчество">
                </div>
                <div class="form-group">
                    <label for="readAssociations">Читаемые объединения</label>
                    <script type="text/ng-template" id="items_renderer.html">
                        <div ui-tree-handle ng-class="{ 'select': $treeScope.multiSelect, 'copy': $treeScope.copy }" ng-show="!item.editing">
                            <a class="btn btn-success btn-xs" nodrag ng-click="toggle(this)">
                                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }"></span>
                            </a>
                            <label>
                                <input type="checkbox" onclick="alert('ss');">
                                {{item.name}}
                            </label>
                        </div>

                        <ol ui-tree-nodes ng-model="item.children" ng-class="{ 'hidden': collapsed }">
                            <li ng-repeat="item in item.children" ui-tree-node ng-class="{ 'selected': selected, 'original': original }" ng-include="'items_renderer.html'"></li>
                        </ol>
                    </script>
                    <ui-tree>
                        <ol ui-tree-nodes ng-model="unions">
                            <li ng-repeat="item in unions" ui-tree-node ng-class="{ 'selected': selected, 'original': original }" ng-include="'items_renderer.html'"></li>
                        </ol>
                    </ui-tree>
                </div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Сохранить</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Сохранено успешно</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
