<section data-ng-controller="NotificationController"  data-ng-init="fetch()">
    <div ng-show="notifications != null && notifications.length" ng-repeat="notification in notifications">
        <h3 align="center">
            {{notification.title}}
            <span style="float:right" ng-show="notification.author._id === authentication.user._id">
                <i class="glyphicon glyphicon-edit"></i>
                <i class="glyphicon glyphicon-trash"></i>
            </span>
        </h3>
        <p align="right" style="color: grey">{{notification.author.lastName + ' ' + notification.author.firstName[0] + '. ' + notification.author.givenName[0] + '.'}}, {{notification.at | date:'dd.MM.yyyy HH:mm'}}</p>
        <p style="text-align: justify">{{notification.content}}</p>
        <hr />
    </div>
    <div ng-hide="notifications != null && notifications.length" style="vertical-align: sub">
        <h4 align="center"><b><font color="#a9a9a9">
            Нет уведомлений.
        </font></b></h4>
    </div>
    <footer class="footer" ng-show="authentication.user.roles.indexOf('editor') != -1 || authentication.user.roles.indexOf('admin') != -1">
        <div align="right">
            <a class="btn btn-info btn-lg" href="/#!/notifications/create">Новое уведомление</a>
        </div>
    </footer>
</section>
