<section data-ng-controller="NotificationController" data-ng-init="init()">
    <div class="page-header">
        <h1>Новое уведомление</h1>
    </div>
    <div class="col-md-12">
        <form name="notificationForm" class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Заголовок</label>
                    <div class="controls">
                        <input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Заголовок" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="content">Текст уведомления</label>
                    <div class="controls">
                        <textarea rows="20" name="title" data-ng-model="content" id="content" class="form-control" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Получатели</label>
                    <div class="controls">
                        <div class="form-group" ng-class="errorClass('unions')">
                            <script type="text/ng-template" id="items_renderer.html">
                                <div ui-tree-handle ng-class="{ 'select': $treeScope.multiSelect, 'copy': $treeScope.copy }" ng-show="!item.editing">
                                    <a class="btn btn-success btn-xs" nodrag ng-click="toggle(this)">
                                            <span class="glyphicon"
                                                  ng-class="{ 'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }"></span>
                                    </a>
                                    {{item.name}}

                                    <a class="pull-right btn btn-danger btn-xs" nodrag ng-click="updateUnionSelection(item)" ng-show="item.selected">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                    <a class="pull-right btn btn-primary btn-xs" nodrag ng-click="updateUnionSelection(item)" ng-show="!item.selected"
                                       style="margin-right: 8px;">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>

                                </div>

                                <ol ui-tree-nodes ng-model="item.children" ng-class="{ 'hidden': collapsed }">
                                    <li ng-repeat="item in item.children" ui-tree-node ng-class="{ 'selected': selected, 'original': original }"
                                        ng-include="'items_renderer.html'"></li>
                                </ol>
                            </script>
                            <ui-tree>
                                <ol ui-tree-nodes ng-model="unions">
                                    <li ng-repeat="item in unions" ui-tree-node ng-class="{ 'selected': selected, 'original': original }"
                                        ng-include="'items_renderer.html'"></li>
                                </ol>
                            </ui-tree>
                        </div>
                    </div>
                </div>
                <div class="form-group" align="right">
                    <input type="submit" class="btn btn-success" value="Сохранить">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
